// fonts
@font-face {
  font-family: SaiyanFont;
  src: url('../../vendor/fonts/saiyan_sans/Saiyan-Sans.ttf');
}

.dbz-header {

  background-color: yellow;
}

h1.dbz-header-title {
  margin: 0;
  padding: 0.4em 0;
  font-size: 2.1em;
  color: orange;
  text-align: center;
  text-transform: uppercase;
  font-family: SaiyanFont;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

h1.dbz-header-title span {

  color: red;
}

h1.dbz-header-title i {

  background-color: red;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -2.5px;
}

/* steps header */

.dbz-steps {

  color: #444;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #EEE;
}

.dbz-steps span {

  color: orange;
  background-color: red;
  padding: 0 4px;
}